.NavBar {
    position: fixed;
    z-index: 999;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 20px;
}

a {
    color: black;
}
@media {
    .NavBar .MobileNavigation .Hamburger {
        position: absolute;
        cursor: pointer;
        text-color: black;

    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
    }

    .NavBar nav ul li {
        margin-top: 50%;
        list-style-type: none;
    }

    .NavBar a:hover {
        text-decoration: none;
        color: #696969
    }
}







